{%- assign is_recover_active = false -%}
{%- form 'recover_customer_password' -%}
{%- if form.errors or form.posted_successfully? -%}
  {%- assign is_recover_active = true -%}
{%- endif -%}
{%- endform -%}
<section  x-data="{ open: {{is_recover_active}} }" class="py-16">
  <div class="container-7xl">
    <div class="max-w-sm mx-auto text-center">
     
      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      CUSTOMER LOGIN FORM
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div x-show.transition.800ms="!open">
        {%- form 'customer_login', name: 'login', id: 'customer_login' -%}
          <header>
            <h1 class="text-header text-3xl md:text-4xl mb-8">{{ 'customer.login.title' | t }}</h1>
            <p class="mb-5 text-sm body-color">{{ 'customer.login.description' | t }}</p>
            <div class="text-sm body-color mb-5">
              {{section.settings.login_upper}}
            </div>
          </header>
          
          {%- if form.errors -%}
            <p class="px-5 py-3 text-general-danger bg-general-danger_bg mb-5 text-left">
              {{- form.errors.messages['form'] -}}
            </p>
          {%- endif -%}

          <div class="mb-3">
            <input type="email" class="w-full" name="customer[email]" required="required" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus>
          </div>

          <div class="mb-5">
            <input type="password" class="w-full" name="customer[password]" required="required" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}">

            <button @click="open = true" type="button" class="text-sm mt-3 mb-12 text-link ">{{ 'customer.login.forgot' | t }}</button>
          </div>

          <button type="submit" class="button-default w-full">{{ 'customer.login.submit' | t }}</button>

          <div class="text-sm mt-10">
            <span class="text-light">{{ 'customer.login.register_label' | t }}</span>
            <a href="{{ routes.account_register_url }}" class="text-link ">{{ 'customer.login.register_link' | t }}</a>
          </div>
        {%- endform -%}
      </div>
     

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      CUSTOMER RECOVERY FORM
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

     
      <div  x-show.transition.800ms="open" >
        {%- form 'recover_customer_password', name: 'recover', id: 'recover_customer_password' -%}
          <header>
            <h1 class="text-header text-3xl md:text-4xl mb-8">{{ 'customer.recover_password.title' | t }}</h1>

            {%- unless form.posted_successfully? -%}
              <p class="mb-5 text-sm body-color">{{ 'customer.recover_password.description' | t }}</p>
            {%- endunless -%}
          </header>

          {%- if form.errors -%}
            <p class="px-5 py-3 text-general-danger bg-general-danger_bg mb-5 text-left">
              {{- form.errors.messages['form'] -}}
            </p>
          {%- endif -%}

          {%- if form.posted_successfully? -%}
            <p class="mb-5 text-sm body-color">
              {{- 'customer.recover_password.success' | t -}}
            </p>
          {%- endif -%}

          <div class="mb-3">
            <input type="email" class="w-full" name="email" required="required" placeholder="{{ 'customer.recover_password.email' | t }}" aria-label="{{ 'customer.recover_password.email' | t }}" autofocus>
          </div>

          <button type="submit" class="button-default w-full">{{ 'customer.recover_password.submit' | t }}</button>

          <div class="text-sm mt-10">
            <span class="text-sm text-light">{{ 'customer.recover_password.login_label' | t: email: shop.email, phone: shop.phone }}</span>
            <button type="button" class="text-link " @click="open = false">{{ 'customer.recover_password.login_link' | t }}</button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Login",
  "settings": [
    {
      "type": "richtext",
      "id": "login_upper",
      "label": "Richtext",
      "info": "Additional content area. Other login content is controlled in language settings."
    }
  ]
}
{% endschema %}