<div class="section lazyload"  
  {%- if block.settings.image -%}
    {% unless block.settings.image.alt == blank %}
      role="img"
      aria-label="{{ block.settings.image.alt | escape }}"
      data-alt="{{ block.settings.image.alt | escape }}"
    {% endunless %}
    data-bg="{{ block.settings.image | img_url: '300x300' }}"
    data-bgset="{% include 'bgset', image: block.settings.image %}"
    data-sizes="auto"
    data-parent-fit="cover"
    style="background-position: {{ block.settings.alignment }}; background-size: cover; background-repeat: norepeat;"
    data-image-loading-animation
  {% elsif block.settings.background_color %}
    style="background-color: {{block.settings.background_color }};"
  {%- endif -%}>
  
  <div class="container-6xl">
    {% if block.settings.heading != blank %}
      <div class="mb-7 md:mb-12 text-center">
        {% if block.settings.heading != blank %}
          <h2 class="text-2xl font-semibold">{{ block.settings.heading | escape }}</h2>
        {% endif %}
      </div>
    {% endif %}
    {% if block.settings.custom_html != blank %}
      <div class="mx-auto">
        {{ block.settings.custom_html }}
      </div>
    {% endif %}
  </div>
</div>
