<div class="{{ column_width }} pl-6 mb-6 flex flex-col text-{{ alignment }}" style="background-color: {{bg_color}}">
  {% if enable_image %}
    {% render 'column-image',
      image: image,
      alignment: alignment,
      max_height: 565,
      max_image_width: max_image_width,
      link_on_click: link_on_click,
      button_link: button_link
    %}
  {% endif %}
  <div class="mt-6 flex flex-col h-full items-center">
    {% if title != blank %}
      <h3 class="text-xl font-semibold mb-2 ">{{ title | escape }}</h3>
    {% endif %}
    {% if text != blank %}
      <div class="rte flex-1 ">{{ text }}</div>
    {% endif %}

    {% if button_label != blank %}
      <a href="{{ button_link }}" class="button-default mt-7" {% if button_link contains 'http://' or button_link contains 'https://'%} target="_blank"{% endif %} >
        {{- button_label | escape -}}
      </a>
    {% endif %}
  </div>
 
</div>